@import "tailwindcss";

/* Font Declarations */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Thin-BETA.otf') format('opentype');
  font-weight: 100;
  font-style: thin;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraLight-BETA.otf') format('opentype');
  font-weight: 200;
  font-style: extralight;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light-BETA.otf') format('opentype');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: extrabold;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Black.otf') format('opentype');
  font-weight: 900;
  font-style: heavy;
}

@font-face {
  font-family: 'Zen Dots';
  src: url('/fonts/ZenDots-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



/* Reset CSS */
 /* Modified CSS Reset */
/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin and Padding */
* {
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  @apply bg-gradient-to-b from-black via-black to-black;
  font-family: 'Inter', sans-serif;
  font: 400;
  
}
select option {
  background-color: white !important;
}

select option:hover {
  background-color: #f3f4f6 !important;
}

/* Media Defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  max-inline-size: 100%;
}

/* Form Elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Text Overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
}

/* Reset Margins */
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

/* Root Stacking Context */
#root,
#__next {
  isolation: isolate;
}


.custom-select {
  @apply w-48 p-2 border rounded-md bg-white;
}

.custom-select option {
  @apply p-2;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  height: 3px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for the track */
  border-radius: 3px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #1C1C21; /* Light grey thumb for simplicity */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #1C1C21; /* Space between the thumb and track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0E0E10; /* Darker grey on hover for thumb */
}





